.category_header {
    background: #592EA0;
    color: white;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}

.category_content {
    background: #ECF0F1;
    width: 100%;
    padding: 10px;
}

.home_actions {
    display: flex;
    justify-content: flex-end;
}

.home_actions button {
    background: #592EA0;
    border-radius: 10px;
    font-size: 1.2em;
}

.home_actions a, .home_actions a:hover {
    color: white;
    font-weight: bold;
}

.home_actions button:last-child {
    margin-left: 1em;
}

.home_topic_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px;
}

.home_topic_content p {
    margin-bottom: 0;
}

.home_topic_info {
    min-width: 30em;
    max-width: 30em;
    margin-left: 2em;
}

.home_topic_title {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

.home_topic_desc {
    font-size: 0.95em;
    color: #6E6E6E;
}

.home_topic_last_message {
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}