body {
    background: #ECF0F1;
    font-family: 'Nunito Sans', sans-serif;

}

header {
    background: #592EA0;
    color: white;
    height: 17.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-top: -2%;
    font-size: 4rem;
    font-weight: bold !important;
}

#page_content {
    background: white;
    border-radius: 25px;
    margin: -2% auto 0 auto;
    width: 90%;
    padding: 2rem;
}



